<%- include("header") -%>

<h2>This is About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptas deserunt quisquam natus modi ducimus molestias accusantium voluptates dolores, omnis sunt nam doloremque blanditiis exercitationem tenetur corrupti eos accusamus incidunt quod minima eveniet? Aspernatur, harum repellendus. Deleniti libero inventore, eos porro eligendi incidunt molestiae quos sunt reiciendis, impedit ipsam voluptas voluptates voluptate. Esse et tempora, maiores blanditiis pariatur aliquam adipisci sapiente iure. Perspiciatis in distinctio quaerat suscipit commodi consequatur qui quisquam animi atque ut est natus quos veniam sint asperiores expedita laudantium, sed unde laborum maiores molestiae sequi ipsa quibusdam laboriosam. Mollitia rerum impedit illum quia distinctio, velit sit neque repellendus deleniti quibusdam incidunt ab unde voluptatum? Dolor, sint? Velit cupiditate beatae veritatis iusto ut nam incidunt! Omnis nulla corporis laudantium neque illo.</p>

<%- include("footer") -%>
